// Tema

div.themeForm {
    & ion-input.colorPicker {
        border-radius: 10px;
        text-align: center;
        border: none;
        &.disabled {
            cursor: not-allowed;
            touch-action: none;
        }
    }
}
.titulos-agencia{
    color: #9ea4c1!important;
    font-size: 22px!important;
    padding-bottom: 20px;
}
h3{
    color: #9ea4c1!important;
}

// Mapa
.map-info {
    width: 100%;
    height: 200px;
}
.select-agencia{
    border-style: solid;
    border-color: #5c789e;
}