.hotel-location {
    display: flex;
    align-items: center;
    & ion-icon {
        margin-right: 5px;
        color: #d5631a;
    }
}

hr {
    background: #f3f3f3;
}
.hotel-habs {
    margin-top: 20px;
    max-height: 110px;
    overflow-y: scroll;
    overflow: auto;
}

.hotel-details {
    & ion-label {
        font-weight: bold;
    }
    & .hotel-details-pol {
        padding-left: 5px;
        margin-bottom: 10px;
        border-left: 3px solid #c33;
        max-height: 110px;
        overflow-y: scroll;
        overflow: auto;
    }
    & .hotel-details-imp {
        padding-left: 5px;
        border-left: 3px solid #5499e5;
        max-height: 110px;
        overflow-y: scroll;
        overflow: auto;
    }
}

.booking-habs {
    hr {
        margin: 3rem 0;
    }
}

.habs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & ion-badge:not(:last-child) {
        margin-right: 5px;
    }
    & fa-icon {
        color: var(--ion-color-medium);
    }
}

.habs-content {
    margin-bottom: 40px;
}

.ht-change {
    background-color: var(--ion-color-light);
    & p {
        padding: 8px;
    }
}

.mb-2 {
    margin-bottom: 2rem;
}

.hotel-image {
    height: 190px;
    width: 100%;
    object-fit: cover;
}

#booking-container {
    .hotel-name {
        margin: 0;
    }
    .hotel-address {
        margin: 0;
    }
    .booking-label {
        margin: 5px 0;
        font-weight: 600;
        font-size: 21px;
    }
    .booking-info {
        margin: 5px 0;
        color: var(--ion-color-medium);
        font-size: 19px;
        & fa-icon {
            color: var(--ion-color-secondary);
        }
    }
    .booking-info-small {
        color: var(--ion-color-medium);
        font-size: 14px;
    }
    hr {
        background: var(--ion-color-medium);
    }
    .total {
        text-align: center;
        font-size: 37px;
        font-weight: bold;
        color: var(--ion-color-secondary);
        span {
            font-size: 24px;
            font-weight: bold;
            color: var(--ion-color-light);
        }
    }
    ion-item {
        --padding-start: 0;
    }
    .form-group {
        & .label {
            font-size: 14px;
        }
    }
}

.label-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-medium);
    margin: 8px 0;
}
.label-subtitle{
    font-size: 16px;
    font-weight: bold;
    --color: var(--ion-color-light);
}

.terms {
    text-align: center;
    margin: 5px 0 0;
    font-size: 14px;
    color: var(--ion-color-medium);
    color: #3fb775;
    
}

.btn-confirm {
    font-size: 13px;
    font-weight: 600;
}

#booking-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    h3 {
        font-size: 27px;
        font-weight: 600;
        color: var(--ion-color-light);
    }
    .status {
        text-transform: uppercase;
        font-size: 27px;
        font-weight: bold;
        color: var(--ion-color-secondary);
        margin-top: 0;
    }
    .folio {
        font-weight: bold;
        font-size: 25px;
        color: var(--ion-color-light);
    }
    .hotel-name {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 25px;
        color: var(--ion-color-secondary);
    }
    .confirm-icon {
        font-size: 92px;
        color: var(--ion-color-primary);
    }
    .date {
        color: var(--ion-color-light);
        font-size: 16px;
        font-weight: 600;
        & fa-icon {
            color: var(--ion-color-secondary);
        }
        margin-bottom: 20px;
    }
    .book-dt {
        font-size: 19px;
        color: var(--ion-color-medium);
        margin: 10px 0;
    }
    .date-res {
        margin: 0;
        color: var(--ion-color-primary);
        font-size: 15px;
    }
    .occupation {
        margin: 10px 0;
        font-size: 15px;
        color: var(--ion-color-light);
        & fa-icon {
            font-size: 16px;
            color: var(--ion-color-medium);
        }
    }

}
ion-button.btn-reservas {
    position: relative;
    bottom: 0;
}