.card-cotizaciones {
    &.selected {
        background: var( --ion-color-secondary);
        * {
            color: var( --ion-color-tertiary);
        }
        #generate-container {
            h2, p, span {
                color: var( --ion-color-tertiary);
            }
        }
    }
    .hotel-info-card.info-background {
        background-color: var(--ion-color-secondary);
        & .hotel-name {
            margin: 0;
            color: var(--ion-color-tertiary);
        }
        & .hotel-address {
            margin: 5px 0;
            color: var(--ion-color-dark);
        }
    }
    #booking-container {
        & p.total {
            text-align: left;
            margin: 0;
            font-size: 24px;
            span {
                font-size: 12px;
            }
        }
        & .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            & ion-button {
                width: 100%;
            }
        }
        .ficha-cotizacion {
            ion-card-title {
                font-size: 27px;
                font-weight: bold;
                color: var(--ion-color-secondary);
            }
            ion-card-subtitle {
                text-transform: none;
                font-size: 12px;
                color: var(--ion-color-light);
            }
            ion-card-content p {
                font-size: 12px;
                margin: 0;
                color: var( --ion-color-medium);
            }
        }
    }
    #generate-container {
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            margin: 0;
        }
        p {
            margin: 0;
        }
        .hotel-name {
            color: var(--ion-color-light);
        }
        .plan-name {
            text-align: right;
            font-size: 12px;
            color: var(--ion-color-medium);
        }
        .tarifa {
            text-align: right;
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            color: var(--ion-color-secondary);
            &>span {
                font-size: 12px;
                color: var(--ion-color-light);

            }
        }
        .occupation {
        margin: 5px 0;
        font-size: 15px;
        color: var(--ion-color-light);
        & fa-icon {
            font-size: 16px;
            color: var(--ion-color-medium);
        }
    }
    }
}

.discount-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        font-size: 12;
        color: var(--ion-color-medium);
    }
}

.card-historial {
    position: relative;
    & .invoice {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 8px;
    }
    & p {
        font-size: 18px;
        margin: 0;
        margin-bottom: 8px;
        font-weight: bold;
        color: var( --ion-color-medium);
        &.observations {
            font-weight: normal;
        }
        & span {
            // white-space: nowrap;
            font-weight: normal;
            // color: var( --ion-color-primary);
        }
    }
    .download {
        display: flex;
        justify-content: flex-end;
        color: var( --ion-color-secondary);
        margin: 0;
        & .item {
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            width: 25px;
            height: 25px;
            border: 2px solid var( --ion-color-secondary);
            border-radius: 50%;
            margin: 10px;
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
    &.selected {
        background: var( --ion-color-secondary);
        color: var( --ion-color-tertiary);
        & p {
            color: var( --ion-color-tertiary);
        }
        & .download {
            color: var( --ion-color-tertiary);
            & .item {
                border-color: var( --ion-color-tertiary);
            }
        }
    }
}

.title-gallery {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: var(--ion-background-color);
}

.cotizar-gallery {
    & ion-card-content {
        position: relative;
        padding: 0;
        & ion-card-title {
            margin-bottom: 5px;
        }
        & ion-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        & ion-img, img {
            width: 100%;
            height: auto;
            opacity: 0.5;
            border-radius: 8px;
        }
        & ion-label {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--ion-color-medium);
            color: var(--ion-color-tertiary);
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }
    }
    &.selected {
        & ion-img, img {
            opacity: 1;
        }
        & ion-label {
            background-color:  var(--ion-color-secondary);
        }
    }
}

.mostrar{
    position: relative;
    top: -31px;
}

.paginacionSticky{
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--ion-background-color);
    height: 70px;
}