.flyers-content {
    & h3 {
        font-size: 20px;
        font-weight: 600;
        color: var(--ion-color-medium);
        text-transform: capitalize;
    }
    
}
ion-img::part(img),
ion-img::part(image){
    border-radius: 15px;
}
.slider-promos{
    img{
        border-radius: 15px;
    }
}
.flyer-image {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

.scroll-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    border-radius: 50px;
    // text-align: center;
    font-size: 34px;
}

.flayersSec{
    height: 250px;
}

.swiper-wrapper{
    height: unset !important;
}

ion-slides.flayersSec{
    height: unset !important;
}