// ion-card.cotizaciones {
//     ion-card-content .footer{
//         border-top: 2px solid var(--ion-color-light);
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding-top: 10px;
//     }
//     ion-card-header{
//         background-color: var(--ion-color-light);
//         & .reservas-header {
//             display: flex;
//             // justify-content: space-between;
//             align-items: center;
//             margin-bottom: 10px;
//             &>:not(:last-child) {
//                 margin-right: 8px;
//             }
//         }
        
//         & .reserva-title {
//             font-size: 24px;
//             font-weight: bold;
//         }
//         .reserva-content {
//             display: flex;
//             align-items: center;
//             &>:first-child{
//                 margin-right: 8px;
//             }
//         }
//     }
//     ion-title.titulo-hotel{
//         font-size: 20px;
//     }
// }

.card-grupos {
    & h2 {
        font-size: 23px;
        font-weight: 600;
        color: var(--ion-color-secondary);
        text-align: center;
        margin: 0;
        & span {
            font-weight: bold;
        }
    }
    & h3 {
        font-size: 21px;
        font-weight: 600;
        color: var(--ion-color-light);
    }
    & p {
        font-size: 16px;
        color: var(--ion-color-light);
        margin: 8px 0;
        & span {
            color: var(--ion-color-medium);
        }
        & fa-icon {
            color: var(--ion-color-secondary);
        }
    }
    & hr {
        margin: 8px 0;
        background: var(--ion-color-primary);
    }
    .message-content {
        background: var( --ion-color-tertiary);
        border-radius: 8px;
        padding: 10px;
        margin-top: 14px;
        margin-bottom: 14px;
        box-shadow: rgb(0 0 0 / 16%) 0px 9px 25px -6px;
        & p.from {
            font-weight: bold;
        }
        & .time-date {
            text-align: right;
        }
        &.outgoing-msg {
            margin-right: 10%;
            *:not(hr) {
                font-size: 12px;
                color: var(--ion-color-secondary);
                margin: 0;
                // text-align: right;
            }
        }
        &.incoming-msg {
            margin-left: 10%;
            *:not(hr) {
                font-size: 12px;
                color: var(--ion-color-light);
                margin: 0;
            }
        } 
    }
}

.send-message {
    display: flex;
    background: var(--ion-color-light);
    margin: 10px;
    border-radius: 8px;
    ion-textarea {
        background: var(--ion-color-light);
        color: var(--ion-color-dark);
        width: 80%;
        border-radius: 8px;
        margin-top: 0;
        border: none;
    }
    ion-button {
        background: var(--ion-color-light);
        color: var(--ion-color-medium);
        margin: 0;
        align-self: flex-end;
        border-radius: 8px;
    }
}
.select-text {
    text-align: center!important;
}
.input-fecha{
    border: 1px solid var(--ion-color-secondary);
    border-radius: 8px;
}