.bg-login {
    --background: linear-gradient(
        rgba(44, 62, 80, 0),
        rgba(44, 62, 80, 0.1),
        rgba(44, 62, 80, 0.5),
        rgba(44, 62, 80, 0.8),
        rgb(0, 0, 0)
    ), url("../images/bgLogin.jpg") no-repeat center / cover;
    animation: 1s ease-out 0s 1 bgAnimation;
}
.btn-login{
    padding: 0px 30px 0px 30px;
}
.login-logo {
    width: 100%;
    max-width: 220px;
}
// .bg-login::before {
//     // background: url("../images/bgLogin.jpg") no-repeat center / cover;
//     // content: "";
//     // position: absolute;
//     // /* the following makes the pseudo element stretch to all sides of host element */
//     // top: 0;
//     // right: 0;
//     // bottom: 0;
//     // left: 0;
//     // transition: opacity 1s ease 2s;
//     // z-index: 1;
//     // animation: bgAnimation 0.5s ease-out;
// }
@keyframes bgAnimation {
    0% {
        opacity: 0.01;
    }
    100% {
        
        opacity: 1;
    }
}
.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,-40px,0);
        opacity: 1
    }
}
.itemform{
    --background: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    & ion-input {
        border: none;
        margin: 0;
    }
}
.boton{
    color: white;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
    height: 50px;
}
.letras{
    color: white!important;
}
.textB{
    color: #847f7f;
}
.titulo{ 
    padding-bottom: 20%;
}
.uno{
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    visibility: visible;
    animation-name: azabache;
    position: absolute;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    z-index: 1;
}
.uno1{
    text-align: center;
    width: 100%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-20%);
    visibility: visible;
    position: relative;
    z-index: 1;
}
@keyframes azabache {
    from {left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%); visibility: visible;}
    to {left: 50%;top: 20%;transform: translateX(-50%) translateY(-20%); visibility: visible;}
}

.ini1{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.0;
    animation-name: iniciar1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes iniciar1 {
    0%   {opacity: 0.0;}
    50%  {opacity: 0.8;}
    100% {opacity: 1;}
}
.formulario{
    position: absolute;
    left: 50%;
    top: 55%;
    width: 75%;
    transform: translateX(-50%) translateY(-55%);
    opacity: 0.0;
    animation-name: form;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes form {
    0%   {opacity: 0.0;}
    50%  {opacity: 0.8;}
    100% {opacity: 1;}
}
.footerR{
    position: absolute;
    left: 50%;
    top: 95%;
    width: 75%;
    transform: translateX(-50%) translateY(-95%);
    opacity: 0.0;
    animation-name: registrarse;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes registrarse {
    0%   {opacity: 0.0;}
    50%  {opacity: 0.6;}
    100% {opacity: 1;}
}
.forgot{
    position: absolute;
    left: 50%;
    top: 95%;
    width: 75%;
    transform: translateX(-50%) translateY(-95%);
}

.imgF{
    text-align: center;
    width: 100%;
    left: 50%;
    top: 11%;
    transform: translateX(-50%) translateY(-11%);
    visibility: visible;
    position: absolute;
    z-index: 1;
}
.formularioF{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.0;
    animation-name: form;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


///nuevos estilos
 .login-container{
    padding: 0% 0% 0% 0%;
 }
 @media (min-width: 650px){
    .formulario{
        position: absolute;
        left: 50%;
        top: 55%;
        width: 75%;
        transform: translateX(-50%) translateY(-55%);
        opacity: 0.0;
        animation-name: form;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
}