.success-background {
    height: 250px;
    background-color: var(--colorBtnPrimary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & ion-avatar {
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }
}
.btn-absolute{
    position: absolute;
}

.versionApp{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}