.card-reservas{
    h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }
    p {
        margin: 0;
    }
    .pax-name {
        color: var(--ion-color-medium);
    }
    .hotel-name {
        color: var(--ion-color-light);
    }
    .pax-date {
        font-size: 13px;
    }
    .id-res {
        text-align: right;
        font-size: 18px;
        font-weight: bold;
    }
    .plan-name {
        text-align: right;
        font-size: 12px;
        color: var(--ion-color-medium);
    }
    .tarifa {
        text-align: right;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        color: var(--ion-color-secondary);
        &>span {
            font-size: 12px;
            color: var(--ion-color-light);

        }
    }
    .download {
        display: flex;
        justify-content: flex-end;
        color: var( --ion-color-secondary);
        margin: 0;
        & .item {
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            width: 25px;
            height: 25px;
            border: 2px solid var( --ion-color-secondary);
            border-radius: 50%;
            margin: 10px;
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
}

.det-rooms{
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: var(--ion-color-light);
    }
    p {
        margin: 5px 0;
        font-size: 14px;
        span {
            color: var(--ion-color-medium);
        }
    }
}

.tg-res ion-chip{
 margin-right: 0px;
}

.badge-yellow {
    background-color: #ffcb65;
    color: #fff;
}

.badge-green {
    background-color: #3ad4de !important;
    color: #fff;
}

.badge-red {
    background-color: #c33;
    color: #fff;
}
.det-buttons ion-button{
    width: 60% !important;
}