#usuario-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    
}
.item-usuario {
    //text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 12px;
    & fa-icon {
        font-size: 20px;
        margin-right: 15px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-medium);
    }
}
.change-profile-image {
    position: relative;
    margin: 0 auto 16px auto;
    width: 100px;
    height: 100px;
    & div.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.5;
        border-radius: 50%;
    }
    & ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}
.imgUser{
    width: 130px;
    height: 130px;
}
.botonU{
    color: white;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
}
.textB{
    color: #847f7f;
}
.action-sheet-button.sc-ion-action-sheet-md {
    display: block!important;
    width: 100%!important;
    border: 0!important;
    outline: none!important;
    background: var(--button-background)!important;
    color: white!important;
    font-family: inherit!important;
}
.action-sheet-title.sc-ion-action-sheet-md {
    padding-left: 16px!important;
    padding-right: 16px!important;
    padding-top: 20px!important;
    padding-bottom: 17px!important;
    height: 60px!important;
    color:white!important;
    font-size: 16px!important;
    text-align: start!important;
}
.action-sheet-icon.sc-ion-action-sheet-md {
    padding-bottom: 4px!important;
    margin-left: 0!important;
    margin-right: 32px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    color: white!important;
    font-size: 24px!important;
}
.titulos-agente{
    color: #9ea4c1!important;
    font-size: 22px!important;
    padding-bottom: 20px;
}
.separador{
    margin-top: 25px;
}
/* .contedor-agente{
    margin-left: 50px;
} */
.item-usuario {
    font-size: 16px;
    padding-left: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
}