<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <fa-icon icon="angle-double-left"></fa-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ acceso }}</ion-title>

    <!-- Si más adelante quieres el botón de cámara en la cabecera -->
    <!--
    <ion-buttons slot="end">
      <ion-button (click)="cameraScan()">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="title-page ion-text-center">{{ title }}</h2>

  <h4 class="ion-text-center" (click)="actionSheet()">
    Total tickets: {{ totalTickets | number: '' }}<br>
    <small class="text-danger">Último ticket: {{ last_update }}</small>
  </h4>

  <h4 class="ion-text-center">
    Total de escaneados: {{ escaneados?.length }}<br>
    <small class="text-danger">Por este dispositivo</small>
  </h4>

<ion-segment [(ngModel)]="list" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="local">
    <ion-label>Local ({{ entered.length }})</ion-label>
  </ion-segment-button>

  <ion-segment-button value="online">
    <ion-label>Online ({{ lecturaOnline.length }})</ion-label>
  </ion-segment-button>

  <ion-segment-button value="historial">
    <ion-label>Historial ({{ escaneados.length }})</ion-label>
  </ion-segment-button>
</ion-segment>


  <!-- 🔹 Lista Local -->
  <ion-list inset *ngIf="list === 'local'">
    <ion-item-sliding *ngFor="let e of entered | slice:0:LIMIT1; let i = index;">
      <ion-item>
        <ion-label (click)="viewTicket(e.ticket_id)">
          {{ i + 1 }}. {{ e.ticket_id }}<br>
          <small>{{ e.acceso }} • {{ e.fecha_lectura | date: 'HH:mm:ss' }}</small>
        </ion-label>
        <ion-icon slot="end" name="checkmark-circle-outline" class="check-icon-success"></ion-icon>
      </ion-item>

      <!-- <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteItemFromList(e, entered, 0)">
          Eliminar
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item button detail="false" (click)="LIMIT1 = LIMIT1 + 50">
      <ion-label class="ion-text-center">Cargar más</ion-label>
    </ion-item>
  </ion-list>

  <!-- 🔹 Lista Online -->
  <ion-list inset *ngIf="list === 'online'">
    <ion-item-sliding *ngFor="let e of lecturaOnline | slice:0:LIMIT2; let i = index;">
      <ion-item>
        <ion-label (click)="viewTicket(e.ticket_id)">
          {{ i + 1 }}. {{ e.ticket_id }}<br>
          <small>{{ e.acceso }} • {{ e.fecha_lectura | date: 'HH:mm:ss' }}</small>
        </ion-label>
        <ion-icon slot="end" name="checkmark-circle-outline" class="check-icon-success"></ion-icon>
      </ion-item>
<!-- 
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteItemFromList(e, lecturaOnline, 2)">
          Eliminar
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item button detail="false" (click)="LIMIT2 = LIMIT2 + 50">
      <ion-label class="ion-text-center">Cargar más</ion-label>
    </ion-item>
  </ion-list>

  <!-- 🔹 Lista Historial -->
  <ion-list inset *ngIf="list === 'historial'">
    <ion-item-sliding *ngFor="let e of escaneados | slice:0:LIMIT3; let i = index;">
      <ion-item>
        <ion-label (click)="findTicket(e.code)">
          {{ i + 1 }}. {{ e.code }}<br>
          <small>{{ e.acceso }} • {{ e.date | date: 'HH:mm:ss' }}</small>
        </ion-label>
      </ion-item>

      <!-- <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteItemFromList(e, escaneados, 1)">
          Eliminar
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item button detail="false" (click)="LIMIT3 = LIMIT3 + 50">
      <ion-label class="ion-text-center">Cargar más</ion-label>
    </ion-item>
  </ion-list>

  <!-- 🔹 Botón flotante de escaneo -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="primary" (click)="cameraScan()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
