<ion-content class="bg-login">
    <div class="Aligner-container" >
        <div>
            <div class="text-center item-logo mb-50">
                <img src="../../assets/images/logo.svg" class="login-logo  animated animatedFadeInUp fadeInUp">
            </div>
            <div class="text-center">
                <ion-button class="boton btn-login" fill="clear" (click)="goToLogin()" size="medium">
                    <fa-icon icon="user" class="textB"></fa-icon>
                    <ion-label class="textB">
                        &nbsp; Iniciar Sesión
                    </ion-label>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>
