<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="logo" src="assets/images/logo.svg" alt="logo">

  <ion-card *ngFor="let e of eventos; let i = index"  (click)="selectEntrada(e)">
  <!-- <ion-card *ngFor="let e of eventos; let i = $index"  [routerLink]="['/scanner/' + e.id]" [queryParams]="{ name : e.name}"> -->
    <ion-img [src]="e.image_event_online" ></ion-img>
    <ion-card-header >
      <ion-card-subtitle color="light">{{e.event_date}} a las {{e.event_time}} |
        {{e.enclosure_name}}</ion-card-subtitle>
      <ion-card-title  color="light" class="title">{{e.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
